
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Quick Register</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Shared/StyleSheet1.css" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <!-- Add these lines to your HTML layout file, typically in the head section -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</head>
<body>
    <div class="container">
        <div class="header">
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
